@page
@model IndexModel
@inject Microsoft.Extensions.Options.IOptions<HotelLandon.WebPages.Section> se
@{
    ViewData["Title"] = "Home page";
    ViewBag.Toto = "Toto";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 class="display-1">@se.Value.Property_03</h1>
@ViewData["Title"]
+
@ViewBag.Toto